.form {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 400px;
  top: 100px;
  left: calc(50% - 200px);
  z-index: 1;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.form.active {
  display: flex;
}

.form.active + .overlay {
  display: block;
}

.form__input {
  margin-bottom: 20px;
  font-size: 30px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  padding-left: 10px;
}

.form__submit {
  width: fit-content;
  align-self: center;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 5px;
}

.form__submit:hover {
  background-color: rgb(125, 203, 206);
}