.form {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.form__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.form.active {
  display: flex;
}

.form__input {
  margin-bottom: 20px;
  font-size: 30px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  padding-left: 10px;
}

.form__submit {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 5px;
}

.form__submit:hover {
  background-color: rgb(125, 203, 206);
}